NEXT_PUBLIC_SUPABASE_URL=https://ukjukfdhphynbfuusntv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVranVrZmRocGh5bmJmdXVzbnR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkxODM0OTgsImV4cCI6MjAyNDc1OTQ5OH0.FgakogHDSp7wRWBMcWljyoj5tpMcXMpQUZB_kgO78xo